body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.form-disposition {
  margin-top: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.progress-bar {
  margin: auto;
  width: 350px;
  height: 10px !important;
  border-radius: 15px;
}



@media screen and (max-width: 600px) {
  .progress-bar {
    width: 90%;
  }
}